{% extends ea.hasContext ? ea.templatePath('layout') : '@EasyAdmin/page/login_minimal.html.twig' %}

{% block body_class 'page-login' %}
{% block page_title %}
	{{ page_title is defined ? page_title|raw : (ea.hasContext ? ea.dashboardTitle|raw : 'Géneration de nouveau mot de passe') }}
{% endblock %}

{% block head_favicon %}
	{% if favicon_path|default(false) %}
		<link rel="shortcut icon" href="{{ favicon_path }}">
	{% else %}
		{{ parent() }}
	{% endif %}
{% endblock %}

{% block wrapper_wrapper %}
{% set page_title = block('page_title') %}

{% include '@EasyAdmin/flash_messages.html.twig' %}

<div class="login-wrapper">
	<header class="main-header">
		<div id="header-logo">
			{% block header_logo %}
				{% if page_title %}
					{% if ea.hasContext %}
						<a class="logo {{ page_title|length > 14 ? 'logo-long' }}" title="{{ page_title|striptags }}" href="{{ path(ea.dashboardRouteName) }}">
							{{ page_title|raw }}
						</a>
					{% else %}
						<div class="logo {{ page_title|length > 14 ? 'logo-long' }}">
							{{ page_title|raw }}
						</div>
					{% endif %}
				{% endif %}
			{% endblock header_logo %}
		</div>
	</header>

	<section class="content">
		{% form_theme form 'bootstrap_5_layout.html.twig' %}
		{{form_start(form)}}
		<div class="form-group">
			<div class="form-widget">
				{{form_row(form.username, {'attr':{'class':'form-control'}, 'label': 'Nom d\'utilisateur' })}}
				</div>
			</div>
			{{form_widget(form.envoyer, {'attr': {'class': 'btn btn-primary btn-lg btn-block'}})}}
			{{form_end(form)}}
		</section>
	</div>
{% endblock %}
