{% extends '@EasyAdmin/page/content.html.twig' %}
{% block content_title 'changement mot de passe' %}

{% block main %}
	{% form_theme form 'bootstrap_5_layout.html.twig' %}
	{{form_start(form)}}
	<div class="form-group">
		<div class="form-widget">
			{{form_row(form.oldPassword)}}
		</div>
		<div class="form-widget">
			{{form_row(form.newPassword.first)}}
		</div>
		<div class="form-widget">
			{{form_row(form.newPassword.second)}}
		</div>
		<button type="submit" class='btn btn-primary btn-lg btn-block'>Modifier</button>
	</div>
	{{form_end(form)}}

{% endblock %}
