{% extends '@EasyAdmin/page/content.html.twig' %}
{% block content_title 'changement mot de passe' %}

{% block main %}{# {% form_theme form 'bootstrap_5_layout.html.twig' %} #}
	{# {{form_start(form)}}
					<div class="form-group">
						<div class="form-widget">
							{{form_row(form.file, {'attr':{'class':'form-control'}, 'label': 'Choisir un fichier' })}}
						</div>
						<div class="form-widget">
							{{form_row(form.nom, {'attr':{'class':'form-control'}, 'label': 'Nom' })}}
						</div>
						<div class="form-widget">
							{{form_row(form.prenom, {'attr':{'class':'form-control'}, 'label': 'Prénom' })}}
						</div>
						<div class="form-widget">
							{{form_row(form.username, {'attr':{'class':'form-control'}, 'label': 'Nom d\'utilisateur' })}}		
						</div>
					    <button type="submit" name="submitProfil" class='btn btn-primary btn-lg btn-block'>Modifier</button>
								
					</div>
					{{form_end(form)}}
						 #}
{% endblock %}
